ul {
    list-style-type: none;
}

.carousel-inner {
	img {
		text-align:center;
		margin:0 auto;
		width:750px;
		height:540px;
	}
}

.row {
	.centered-elem {
		text-align:center;

		#answerSection {
			text-align:left!important;
			margin-left:240px;

			ul#options {
				padding-left:0px;
			}
		}

		#score {
			p {
				font-size:20px;
			}
		}

	}

	.title {
		text-align:center;
	}

	button {
		border:none;
		outline:none;
		color:white;
		background-color:#0078AE;
		font-size:20px;
	}

	button#startQuiz {
		margin-top:2rem;
		font-size:24px;
	}

	button#playAgain {
		a {
			color:white!important;
			text-decoration: none;
			font-size:inherit;
		}
		a:hover {
			color:white!important;
		}
	}

	img.phish-image {
		width:720;
		height:480;
	}
}

ol.carousel-indicators {
	visibility:hidden;
}

