<div class="quiz-area" ng-show="inProgress">
	<timer interval="1000">{{10-seconds}}</timer>
	<div ng-show="!quizOver">
		<div ng-show="answerMode">	
			<img src="{{start_image}}">
		</div>
		<div ng-show="!answerMode">
			<img src="{{final_image}}">
		</div>
		<h2 id="question">{{question}}</h2>
		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}">
					{{option}}
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>

		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns">{{correct}}</span>
			<span ng-show="!correctAns">{{incorrect}}</span>
		</div>
	</div>

	<div ng-show="quizOver">
		<h2>Quiz is over</h2>
		<button><a href="index.html">Play again</a></button>
	</div>

	<div id="score">
		Score: {{score}}
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<p>Welcome to the Cynergistek Phishing Quiz. Social engineering which includes phishing attacks and compromise data and cost millions. Can you tell the difference between a legitimate email and a phish?</p>
	<button id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>